.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.search {
  width: 50vw;
  padding: 7px;
  font-size: 1.3rem;
  color: black;
  box-sizing: border-box;
 
  border-radius: 5px;
  font-weight: bold;
}

.autocomplete {
  width: 50vw;
  background: #ffff;
  border-radius: 5px;
  
}

.autocompleteItems {
  border-bottom: 1px solid;
  padding: 10px 5px;
  cursor: pointer;
}

.autocompleteItems:hover {
  background: white;
}
